

@font-face {
  font-family: "myFont";
  src: url("/fonts/ITCAvantGardeStdBk.otf");
}

@mixin font {font-family: "myFont", sans serif;}
@mixin myGray {background-color: rgb(122,122,122,.17)}

body {color: white; background-color: #010203; @include font; overflow-x: hidden}

.header {width: 101%; display: float; height: 100px; 
  @include myGray; margin-top: -11px; margin-left: -10px}
#logo {width: 300px; height: auto; margin-left: 30px; float: left; 
  margin-top: 10px}
.buttonBasic {float: right; text-align: center; margin: 2% 1% 1% 1%; 
  background-color: #66BE66; 
  border-radius: 20px; padding: 10px 20px; color: #010203; 
  a {color: #010203; text-decoration: none;}}

  @media only screen and (max-width: 800px) {

    .header {width: 100%; height: 300px; margin-left: 20px;
      @include myGray}

    .buttonBasic  {width: 90%; text-align: center; margin: 1%;
      border-radius: 20px; padding: 10px 20px; color: #010203; margin: 1% auto;}

      #logo {width: 90%; height: 100px; margin-left: 30px; display: block; 
        margin-top: 10px; margin-bottom: 30px;}

  }

//FOOTER


footer {width: 100%; position: absolute; left: 0; text-align: center; @include myGray;
  img {width: auto; height: 40px}; ul {list-style: none}; ul li a {color: white; text-decoration: none}}

//SECTION 1

.section1 {width: 100%; height: 800px; min-width: 1000px;}
#coolArt {position: absolute; width: auto; height: 800px; top: 118px; left: 173px;}
#introduction {width: 60%; margin: auto; margin-top: 20px; height: 100%;
  text-align: center;}
#introText {margin-top: 320px;}
#elevate {font-size: x-large;}
#introButton {border: solid white 3px; padding: 1%; width: 500px; 
  margin: auto; margin-top: 20px; border-radius: 30px;}


//SECTION 2
#section2 {width: 100%; margin: auto; height: 800px; 
   min-width:1000px; p {width: 50%; margin-left: 800px}; font-size: 30px}
#introLink {color: white; text-decoration: none;}

@media only screen and (max-width: 800px) {

  .section1 {width: 100%; height: 800px; min-width: 0px;}
  #coolArt {position: absolute; width: 95%; height: auto; left: 0px; 
    top: 380px}
  #introduction {width: 60%; margin: auto; text-align: center;
  font-size: 20px;}
  #introText {margin-top: 30px;}
  #elevate {margin-top: 30px;}
  #introButton {border: solid white 3px; padding: 1%; width: 100%; 
    margin: auto; margin-top: 20px; border-radius: 30px;}
  

}
